/* Variables */
:root {
    --main-text-color-1: #34313D;
    --main-text-color-2: #3A3054;
    --main-text-color-3: #4B3F6B;
    --main-text-color-4: #9E9AA8;
    --main-text-color-5: #EFF1F7;
    --main-text-color-6: #2BD0D0;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-700.woff') format('woff');
}

/* General */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;

}

img {
    display: block;
    height: auto;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: #EFF1F7;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Container */
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Sticky-Footer */
.site-main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* General Styles  */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* Start Header Section */
#site-header {
    position: relative;
    padding: 40px 0 23px;
    background-color: #FFFFFF;
}

.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-part__nav-btn {
    background-image: url("../images/hamburger-icon.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    border: none;
    background-color: transparent;
}

.header-part__links-box {
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    max-width: 290px;
    height: auto;
    display: none;
    margin: 0 auto;
    padding: 40px 24px;
    background-color: var(--main-text-color-2);
    border-radius: 10px;
}

.header-part__links-box-on {
    display: block;
}

.site-nav {
    border-bottom: 1px solid var(--main-text-color-4);
}

.site-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-nav__item {
    margin-bottom: 30px;
}

.site-nav__link,
.login-links {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.site-nav__link:hover{
    color: #ffff;
}

.login-link-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-link-box__login {
    margin: 32px 0 24px;
}

.login-link-box__signup {
    padding: 11px 80px;
    background-color: var(--main-text-color-6);
    border-radius: 28px;
}

@media only screen and (min-width:450px) {
    .header-part__links-box {
        max-width: 380px;
    }

    .login-link-box__signup {
        padding: 11px 105px;
    }
}

@media only screen and (min-width:800px) {
    #site-header {
        padding: 55px 0 30px;
    }

    .header-part {
        justify-content: flex-start;
    }

    .header-part__nav-btn {
        display: none;
    }

    .header-part__links-box {
        position: static;
        top: 0;
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }

    .site-nav {
        border-bottom: none;
    }

    .site-nav__list {
        flex-direction: row;
        margin-left: 45px;
    }

    .site-nav__item {
        margin-bottom: 0;
    }

    .site-nav__item:not(:last-child) {
        margin-right: 29px;
    }

    .site-nav__link,
    .login-links {
        color: var(--main-text-color-4);
    }

    .login-link-box {
        flex-direction: row;
        width: 204px;
        margin-left: auto;
    }

    .login-link-box__login {
        margin: 0 37px 0 0;
    }

    .login-link-box__signup {
        padding: 9px 23px;
        color: #FFFFFF;
        background-color: var(--main-text-color-6);
        border-radius: 28px;
    }

    .site-nav__link:hover,
    .login-links:hover {
        color: var(--main-text-color-1);
    }

    .login-link-box__signup:hover,
    .hero-part__link:hover {
        background-color: #9AE3E3;
        color: #FFFFFF;
    }
}

/* End of Header Section */

/* Start Hero Section */
#hero {
    padding: 40px 0 168px 0;
    background-image: url("../images/hero-bg-img-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 460px 337px;
    background-position: calc(50% + 100px) calc(50% - 200px);
    background-color: #FFFFFF;
}

.hero-part {
    display: flex;
    flex-direction: column-reverse;
}

.hero-part__info-box {
    max-width: 440px;
    margin: 60px auto 0 auto;
}

.hero-part__title {
    margin: 0;
    font-weight: 700;
    font-size: 37px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.05px;
    color: var(--main-text-color-1);
}

.hero-part__text {
    margin: 15px 0 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: var(--main-text-color-4);
}

.hero-part__link-box {
    display: flex;
    justify-content: center;
}

.hero-part__link {
    padding: 13px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: var(--main-text-color-6);
    border-radius: 28px;
}

.hero-part__img {
    margin: 0 auto;
}

@media only screen and (min-width:375px) {
    #hero {
        background-position: calc(50% + 130px) calc(50% - 210px);
    }

    .hero-part__title {
        font-size: 42px;
    }

    .hero-part__img {
        width: 327px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:470px) {
    #hero {
        background-position: calc(50% + 140px) calc(50% - 200px);
    }

    .hero-part__img {
        width: 347px;
    }
}

@media only screen and (min-width:550px) {
    #hero {
        background-position: calc(50% + 200px) calc(50% - 200px)
    }

    .hero-part__img {
        width: 367px;
    }
}

@media only screen and (min-width:600px) {
    #hero {
        background-position: calc(50% + 230px) calc(50% - 200px);
        background-size: 600px 377px;
    }

    .hero-part__img {
        width: 380px;
    }
}

@media only screen and (min-width:720px) {
    #hero {
        background-position: calc(50% + 250px) calc(50% - 200px);
        background-size: 700px 407px;
    }

    .hero-part__img {
        width: 450px;
    }
}

@media only screen and (min-width:820px) {
    #hero {
        background-position: calc(50% + 250px) calc(50% - 220px);
        background-size: 700px 407px;
    }

    .hero-part__img {
        width: 480px;
    }
}

@media only screen and (min-width:1000px) {
    #hero {
        padding: 116px 0 222px 0;
        background-image: url("../images/hero-bg-img-mobile.jpg");
        background-repeat: no-repeat;
        background-size: 502px 452px;
        background-position: calc(50% + 380px) calc(50% - 80px);
    }

    .hero-part {
        position: relative;
    }

    .hero-part__info-box {
        width: 60%;
        max-width: 585px;
        margin: 0 auto 0 0;
    }

    .hero-part__title {
        font-size: 60px;
        line-height: 90px;
        text-align: left;
    }

    .hero-part__text {
        margin: 5px 0 38px;
        font-size: 21px;
        line-height: 36px;
        text-align: left;
    }

    .hero-part__link-box {
        justify-content: flex-start;
    }

    .hero-part__img {
        position: absolute;
        top: -50px;
        right: -4px;
        margin: 0;
        width: 40%;
        height: auto;
    }
}

@media only screen and (min-width:1100px) {
    #hero {
        background-position: calc(50% + 400px) calc(50% - 80px);
    }
}

@media only screen and (min-width:1200px) {
    #hero {
        background-position: calc(50% + 440px) calc(50% - 90px);
    }

    .hero-part__title {
        font-size: 80px;
        line-height: 90px;
    }

    .hero-part__text {
        font-size: 22px;
        line-height: 36px;
    }
}

@media only screen and (min-width:1300px) {
    .hero-part__img {
        position: absolute;
        top: -50px;
        right: -4px;
        margin: 0;
        width: 40%;
    }
}

@media only screen and (min-width:1500px) {
    #hero {
        background-position: calc(50% + 510px) calc(50% - 50px);
        background-size: 652px 482px;
    }

    .hero-part__img {
        right: -84px;
        width: 50%;
    }
}

/* End of Hero Section */

/* Start Form Section */
#form {
    position: relative;
}

.form-part {
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    max-width: 1110px;
    margin: 0 24px;
    padding: 24px;
    background-image: url("../images/boost-bg-img.svg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.form-part__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-part__label {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 769px;
}

.form-part__input {
    width: 100%;
    max-width: 769px;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.12px;
    color: #34313D;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 3px solid transparent;
}

.form-part__input:not(:placeholder-shown):not(:focus):invalid {
    border: 3px solid #F46363;
    border-radius: 5px;
}

.form-part__input-err {
    position: absolute;
    top: 55px;
    left: 0;
    width: 105px;
    opacity: 0;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0818182px;
    color: #F46363;
    transition: all .5s;
}

.form-part__input:not(:placeholder-shown):not(:focus):invalid+.form-part__input-err {
    opacity: 1;
}

.form-part__btn-box {
    display: flex;
    justify-content: center;
}

.form-part__btn {
    margin-top: 38px;
    padding: 11px 63px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #2BD0D0;
    border-radius: 5px;
    border: none;
}

.form-part__btn:hover {
    background-color: #9AE3E3;
}

@media only screen and (min-width:375px) {
    .form-part__btn {
        margin-top: 38px;
        padding: 11px 91px;
    }
}

@media only screen and (min-width:750px) {
    .form-part {
        margin: 0 24px;
        padding: 52px 64px;
    }

    .form-part__form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .form-part__label {
        position: relative;
        display: flex;
        justify-content: center;
        width: 67%;
        max-width: 769px;
    }

    .form-part__input {
        padding: 6px 16px;
        font-size: 20px;
        line-height: 36px;
    }

    .form-part__input-err {
        top: 60px;
    }

    .form-part__btn {
        margin-top: 0;
        padding: 14px 40px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media only screen and (min-width:950px) {
    .form-part__label {
        width: 72%;
    }

    .form-part__input {
        padding: 14px 32px;
    }

    .form-part__btn {
        padding: 14px 40px;
    }

    .form-part__input-err {
        top: 72px;
    }
}

@media only screen and (min-width:1100px) {
    .form-part__label {
        width: 78%;
    }
}

@media only screen and (min-width:1155px) {
    .form-part {
        margin: 0 auto;
    }
}

/* End of Form Section */
/*  */